{{>header}}
{{>navbar}}
<section>
    {{#if user}}
    <div class="alert alert-success">
        <li>{{user.id}}</li>
          <li>{{user.name}}</li>
            <li>{{user.title}}</li>
              <li>{{user.content}}</li>
              <li>{{user.status}}</li>
            

    </div>
    {{else}}
    <div class="alert alert-danger">
        No User found
    </div>
    
    {{/if}}
</section>
{{>footer}}